@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

header {
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: large;
}

img {
  width: 250px;
}
